@font-face {
    font-family: "Raleway";
    src: url("assets/fonts/3ds\ Condensed\ Regular.ttf") format('truetype');
  }
  body {
      background: transparent;
      height: 100%;
      background-image: url("assets/images/DMSBackgroundB.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: #adadc9;
      padding: 40px;
      font-family: "Raleway";
    }
    [role= menuitem] {
      color: #000;
    }
    #dropdownMenu2 {
      background-color: transparent;
      color: #000;
      border-color: transparent;
      
    }
  
  #selimg {
    height: 400px;
    }
  
  .homeimg {
    height: 400px;
  }  

  #engrow {
    padding: 50px;
  }
  
  #navbarlogo {
    padding: 0px;
    
    border: 0px;
  }

  .first-row {
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  .next-rows {
    margin-top: 20px;
    padding: 20px;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 6px;
    color: #454b63;
    text-decoration: none;
    font-size: 20px;
  }

  .map-container {
    width: 500px;
    height: 500px; /* Set the desired height */
}

.map-container iframe {
    width: 500px;
    height: 100%;
    border: 5;
}
  .nav-top {
    
    background-image: none;
  }
  
  .nav-bot {
    background-image: linear-gradient(#cdd6db, #dee1e2, #ffffff );
    
  }

  .container h3 {
    color: #3E3D53;
  }

  #botnav {
    color: #454b63;
  }

  img {
    
  }
 
  #profilepicture {
    display: block;
    margin: auto;
    padding: 2px;
    }
 
  
  .lcolour {
    color: #ad592b;
  }
  
  .lcolour:hover {
    color: #fac082;
  }
  
  .jumbotron {
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    max-height: 100%;
    margin: auto;
    /* border: 5px;
    border-color: #fef5f5;
    border-style: solid; */
  }
  
  .cardarc {
    background-color: transparent;
    border-color: transparent;
  }
  

  .item {
    flex-grow: 1;
     
    width: 3rem;
    padding: 0rem 0.5rem;
  }

  .contact-form {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
     max-width: 800px;
}

@media (max-width: 1800px) {
  .contact-form {
      width: 600px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .contact-form {
      width: 400px;
  }
}

.contact-form h2 {
    margin-bottom: 15px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form .form-group textarea {
    resize: vertical;
    height: 100px;
}

.contact-form button {
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.contact-form button:hover {
    background: #0056b3;
}
  